<div class="country">
    <h2 class="country-title">{{name}}</h2>
    <div class="country-item">
        <ul class="country-body">
            <li><b>Capital:</b> {{capital}}</li>
            <li><b>Population:</b> {{population}}</li>
            <li><b>Languages:</b>
                <ul class="languages-list">
                {{#each languages}}
                <li>{{this.name}}</li>
                {{/each}}
                </ul>
            </li> 
        </ul>
        <div class="country-img">
            <img src="{{flag}}" alt="{{name}}">
        </div>
    </div>
</div>

